.gradle
build/
install/
!gradle/wrapper/gradle-wrapper.jar
!**/src/application/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/application/**/out/
!**/src/test/**/out/
